  <div className="table-container">
          <table className="table table-secondary dealer-table">
            <thead className="">
              <tr>
                
              </tr>
              <button type="submit" className=" btn-primary" id="filtBtn">
                No Filter
              </button>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div className="scroll-to-left">
          <span>
            {" "}
            <i className="fas fa-chevron-left"></i>{" "}
            <i className="fas fa-circle dot"></i>{" "}
          </span>
        </div>

        $('#custCode').click(()=>{
          $(this).hide();
          $('#-custCode').show();
       });
       $('#-custCode').click(()=>{
         $(this).hide();
         $('#custCode').show();
      });

      // const [validated, setValidated] = useState(false);

      // const handleSubmit = (event) => {
      //   const form = event.currentTarget;
      //   if (form.checkValidity() === false) {
      //     event.preventDefault();
      //     event.stopPropagation();
      //   }
    
      //   setValidated(true);
      // };
      //  useEffect()
   